h1{
  color: #020d47;
  font-style: revert;
  font-size: 250%;
  text-decoration: underline;
  text-align:center;

}
.col-md-3{
  margin-right:10;
}
.card-body{
color:#041140;
font-size: 27px;
font-style: revert;

}